<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-content>
  <!-- <div class="logo">
        <ion-icon color="light" name="contact"></ion-icon>
        <img src="assets/image/logo.png" />
      </div> -->

  <h6 class="tex">Bienvenu sur <strong class="c">OdcEvents.</strong></h6>

  <div class="container">
    <div class="login-wrap">
      <div class="login-html">
        <input
          id="tab-1"
          type="radio"
          name="tab"
          class="sign-in"
          checked
        /><label for="tab-1" class="tab">Connexion</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
          for="tab-2"
          class="tab"
          >Inscription</label
        >
        <div class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">NOM D'UTILISATEUR</label>
              <input id="user" type="text" class="input" />
            </div>
            <div class="group">
              <label for="pass" class="label"> MOT DE PASSE</label>
              <input
                id="pass"
                type="password"
                class="input"
                data-type="password"
              />
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked />
              <label for="check"
                ><span class="icon"></span> Gardez-moi connecté</label
              >
            </div>
            <div class="group">
              <a href="/accueil">
                <input type="submit" class="button" value="Connexion" />
              </a>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot">Mot de passe oublié??</a>
            </div>
          </div>
          <div class="sign-up-htm">
            <div class="group">
              <label for="user" class="label">NOM D'UTILISATEUR</label>
              <input id="user" type="text" class="input" />
            </div>
            <div class="group">
              <label for="pass" class="label"> Mot de Passe </label>
              <input
                id="pass"
                type="password"
                class="input"
                data-type="password"
              />
            </div>
            <div class="group">
              <label for="pass" class="label">RÉPÉTER LE MOT DE PASSE</label>
              <input
                id="pass"
                type="password"
                class="input"
                data-type="password"
              />
            </div>
            <div class="group">
              <label for="pass" class="label">ADRESSE E-MAIL</label>
              <input id="pass" type="text" class="input" />
            </div>
            <div class="group">
              <a href="accueil">
                <input type="submit" class="button" value="Inscription"
              /></a>
            </div>
            <div class="hr"></div>
            <!-- <div class="foot-lnk">
              <label for="tab-1">Mot de passe oublié??</label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
